<div class="card">
    <form [formGroup]="basicForm" (ngSubmit)="onSubmitBasicForm()">
        <div class="card-header px-5">
            <h5 class="card-title">{{title}}</h5>
        </div>
        <div class="card-body px-5">

            <div class="mb-4" *ngFor="let formField of formFieldElements">
                <div *ngIf="formField.input.hidden == false">
                    <label for="{{formField.input.label}}" class="mb-2">{{formField.input.label}}</label>

                    <div [ngSwitch]="formField.input.type">
                        <input type="text" *ngSwitchCase="'text'" [formControlName]="formField.input.name"
                            class="form-control" [id]="formField.input.id"
                            [ngClass]="checkValidation(this.basicForm.controls[formField.input.name])" />


                        <div *ngSwitchCase="'select'">
                            <app-booking-type-selector *ngIf="formField.input.name == 'booking_type_id'"
                                [formControlName]="formField.input.name"
                                [bookingTypesOptions]="formField.input.options"></app-booking-type-selector>

                            <select *ngIf="formField.input.name != 'booking_type_id'" class="form-control"
                                [id]="formField.input.id" [formControlName]="formField.input.name"
                                [ngClass]="checkValidation(this.basicForm.controls[formField.input.name])">
                                <option value="">{{formField.input.label}}</option>
                                <option [value]="option.id" *ngFor="let option of formField.input.options">
                                    {{option.name}}
                                </option>
                            </select>
                        </div>

                        <input type="checkbox" *ngSwitchCase="'checkbox'" [formControlName]="formField.input.name"
                            [id]="formField.input.id"
                            [ngClass]="checkValidation(this.basicForm.controls[formField.input.name])" />

                    </div>

                </div>
            </div>

            <!-- <app-dynamic-form-field *ngFor="let formField of formFieldElements" [formField]="formField"
                [formControlName]="formField.input.name"></app-dynamic-form-field> -->
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!basicForm.valid">Continue</button>
        </div>
    </form>
</div>