<div class="card p-1 d-flex flex-row">
    <div class="card booking-type-card" [ngClass]="bookingType['id'] == value ? 'selected': ''" *ngFor="let bookingType of bookingTypesOptions">
        <div class="card-body" (click)="onSelectBookingType(bookingType['id'])">
            <div class="text-center">
                <img [src]="bookingType['icon_url']" alt="">
                <br>
                <p class="mb-0 mt-3">
                    <small>{{bookingType['name']}}</small>
                </p>
            </div>
        </div> 
    </div>
</div>