<h3 class="mb-5">Booking Wizard - Collection/Delivery</h3>

<div class="card">
    <form [formGroup]="scopeForm" (ngSubmit)="onSubmitScopeForm()">
        <div class="card-header px-5">
            <h5 class="card-title">{{title}}</h5>
        </div>
        <div class="card-body px-5">
            <app-dynamic-form-field *ngFor="let formField of formFieldElements" [formField]="formField"
                [formControlName]="formField.input.name"></app-dynamic-form-field>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!scopeForm.valid">Continue</button>
        </div>
    </form>
</div>