<app-header></app-header>
<main>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="card-title">BOOKING WIZARD - COLLECTION/DELIVERY</h5>
            </div>
            <div class="card-body">
        
                <ul class="step-list">
                    <li class="prev">
                        <span class="number">1</span>
                        <span class="title">BASIC INFORMATION</span>
                    </li>
                    <li class="current">
                        <span class="number">2</span>
                        <span class="title">VEHICLE AND DRIVER SELECTION</span>
                    </li>
                    <li>
                        <span class="number">3</span>
                        <span class="title">DELIVERY CONTAINER SELECTION</span>
                    </li>
                    <li>
                        <span class="number">4</span>
                        <span class="title">CONSIGNMENT DETAILS</span>
                    </li>
                    <li>
                        <span class="number">5</span>
                        <span class="title">BOOKING SUMMARY</span>
                    </li>
                    <li>
                        <span class="number">6</span>
                        <span class="title">SELECT TIME SLOT</span>
                    </li>
                </ul>
        
        
            </div>
        
            <div class="card-footer text-center">
                <button class="btn btn-primary btn-sm">Continue</button>
            </div>
            
        </div>
    </div>
</main>
